@import '../../../styles/mixins.less';

.dashboard {
	background-color:@color-ve-bg-light;

	.fitparent();
	.weui-navbar {
		position:relative;

		background-color:@white;
	}
	.weui-navbar__slider {
		width:20%;
		margin-left:15%;
	}
	.weui-tab__panel {
		height:auto;
		padding-top:0;
	}
}