@import '../../../styles/mixins.less';

.dashboard {
	height:100vh;

	background-color:@color-ve-bg-light;
}
.publish-wrapper {
	position:fixed;
	right:24rpx;
	bottom:24rpx;

	width:130rpx;
	height:130rpx;

	button{
		height: 100%;
		line-height: 130rpx;
		.border-radius(100%);
		box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
		&.button-hover{
			box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
		}
	}
}