@import '../../../styles/mixins.less';

.match-panel{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 54rpx;
	line-height: 54rpx;
	background-color: @color-v2-base-blue-lighter;
	font-size: 28rpx;
	text-align: center;
	color: @color-v2-base-blue;
	opacity: 0;
	transform: translateY(-54rpx);
	z-index: 2;
}
.match-list{
	padding: 0 20rpx 15rpx;
	.feed-detail-card{
		margin-top: 15rpx;
	}
}