@import './styles/mixins.less';

/**app.wxss**/
page {
	height: 100%;
	background-color: #f6f6f6;	
}

.container {
	.fitparent();
	border-top: 2px @color-v2-border solid;
	background-color: @color-v2-bg;
}
