@import './styles/mixins.less';
@import './styles/components.less';
@import './styles/weui.less';

/**app.wxss**/
page {
	height: 100%;
	background-color: @color-v2-bg;
}

.container {
	.fitparent();
	border-top: 2px @color-v2-border solid;
	background-color: @color-v2-bg;
}
